body{
    background-color: #cacaff;
}
#index_body{
    font-family: 'Space Mono', monospace;

}
#logo{
    length: 600px;
    width: 600px;
}
#descrip{
    font-size: 20px;
}

#players_title{
    font-size: 60px;
}

#player_list{
    font-size:30px;
    list-style-type: none;
    padding-left: 5px;
}

#card{
    background-color: darkorange;
    height:200px;
    width:200px;
    margin-top: 50px;
    margin-bottom: 50px;

}

#answer{
    height:45px;
    width:400px;
}

#headq{
    font-size: 60px;
}

#playbox{
    background-color: #ffcaca;
    height:auto;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 8px;
    border-color: #ffffca;
}

#subplay{
    font-size:20px;
}

#home_play{
    background-color: #ffcaca;
    border: 2px solid black;
    border-radius: 8px;
    border-color: #ffffca;
    width:auto;
}

#homebod{
    font-family: 'Space Mono', monospace;

}
#results_bod{
    font-family: 'Space Mono', monospace;

}

#rules_body{
    font-family: 'Space Mono', monospace;
    background-color: #ffcaca;


}
/* join page css */
#join_bod{
    background-color: #cacaff;
    font-family: 'Space Mono', monospace;
}

#form_access{
    padding-top:60px;
}

#code{
    margin-bottom:8px;
}

#username{
    margin-bottom:8px;
}

#join{
    margin-right:47px;
}

/* rules css */
#rules_body{
    background-color:#cacaff;
}
.rules_design{
    border: 4px solid black;
    border-radius: 8px;
    border-color: #ffffca;
    background-color: #ffcaca;
    margin-top: 10px;
    margin-bottom: 10px;
}
#rules_list{
    list-style-type: none;
}

/* answer css */
#answer_body{
    background-color: #cacaff;
    font-family: 'Space Mono', monospace;

}
#question{
    margin-bottom:30px;
}

.answer_choices{
    background-color:#ffcaca;
    border: 4px solid black;
    border-radius: 8px;
    border-color: #ffffca;
    margin-bottom: 18px;
    font-size:18px;
}
/* finish */

#finish_body{
    font-family: 'Space Mono', monospace;
}
#mentions{
    font-size: 20px;
    list-style-type: none;
    margin-right: 39px;
    border: 4px solid black;
    border-radius: 8px;
    border-color: #ffffca;
    background-color: #ffcaca;

}

#winner{
    margin-top: 50px;
    font-size:55px;
}