body{
    background-color: #cacaff;
}
#index{
    font-color: ;
}
#logo{
    length: 600px;
    width: 600px;
}
#descrip{
    font-size: 20px;
}

#players_title{
    font-size: 60px;
}

#player_list{
    font-size:30px;
    list-style-type: none;
    padding-left: 5px;
}

#card{
    background-color: darkorange;
    height:200px;
    width:200px;
    margin-top: 50px;
    margin-bottom: 50px;

}

#answer{
    height:45px;
    width:400px;
}

#headq{
    font-size: 60px;
}

#playbox{
    background-color: #ffcaca;
    height:auto;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 8px;
    border-color: #ffffca;
}

#subplay{
    font-size:20px;
}

#home_play{
    background-color: #ffcaca;
    border: 2px solid black;
    border-radius: 8px;
    border-color: #ffffca;
    width:auto;
}

#homebod{
    font-family: 'Space Mono', monospace;

}
#results_bod{
    font-family: 'Space Mono', monospace;

}

#rules_body{
    font-family: 'Space Mono', monospace;
    background-color: #ffcaca;


}
/* join page css */
#join_bod{
    background-color: #cacaff;
    font-family: 'Space Mono', monospace;
}

#form_access{
    padding-top:60px;
}

#code{
    margin-bottom:8px;
}

#username{
    margin-bottom:8px;
}

#join{
    margin-right:47px;
}